body{
	font-family: 'Ubuntu', sans-serif;
}
#header{
	margin-top: 50px;
}

#aCiuUni{
text-align: center;
}

#btnCerrarSesion{
	margin-top: 40px;
	font-size: small;
	color: rgba(255, 255, 255,0);
}

#btnCerrarSesion:hover{
	color: white;
}


#IndexCar{
	width: 100%;
	height: 500px;
}
#indexUni{
	min-height: 400px;
	background-image: url('../Img/index/Cuerpo/Universidad.jpg');
	background-size: cover;
	background-position: center;
}
#indexBeca{
	min-height: 400px;
	background-image: url('../Img/index/Cuerpo/Beca.jpg');
	background-size: cover;
	background-position: center;
}
#indexCarrera{
	min-height: 500px;
	background-image: url('../Img/index/Cuerpo/Carrera.jpg');
	width: auto;
	background-size: cover;
	background-position: center;
}
#indexArriendo{
	min-height: 400px;
	background-image: url('../Img/index/Cuerpo/Arriendo.jpg');
	background-size: cover;
	background-position: center;
}
#indexLugar{
	min-height: 400px;
	background-image: url('../Img/index/Cuerpo/Discoteca.jpg');
	background-size: cover;
	background-position: center;
}
#indexEvento{
	min-height: 500px;
	background-image: url('../Img/index/Cuerpo/Evento.jpg');
	width: auto;
	background-size: cover;
	background-position: center;
}
#indexComentar{
	min-height: 400px;
	background-image: url('../Img/index/Cuerpo/Comentario.jpg');
	background-size: cover;
	background-position: center;
}
#indexPuntuar{
	min-height: 400px;
	background-image: url('../Img/index/Cuerpo/Puntuar.jpg');
	background-size: cover;
	background-position: center;
}

#indexCarrera:hover{ 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#indexBeca:hover{ 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#indexUni:hover{ 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

#indexArriendo:hover{ 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
    
#indexLugar:hover{ 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#indexEvento:hover{ 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#indexComentar:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#indexPuntuar:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

#BgPortada{
	color:black;
	background-color: rgba(255, 255, 255,0.3);
}
#BgPortada2{
	color:black;
	background-color: rgba(255, 255, 255,0.5);
}

/*VER TODOS LOS ARRIENDOS*//*VER TODOS LOS ARRIENDOS*//*VER TODOS LOS ARRIENDOS*//*VER TODOS LOS ARRIENDOS*//*VER TODOS LOS ARRIENDOS*/
/*VER TODOS LOS ARRIENDOS*//*VER TODOS LOS ARRIENDOS*//*VER TODOS LOS ARRIENDOS*//*VER TODOS LOS ARRIENDOS*//*VER TODOS LOS ARRIENDOS*/
#carousel-2{
	width: auto;
}
#ArriendoCompar{
	width: 30px;
	height: 30px;
}
#ArriendoCompar2{
	width: 20px;
	height: 20px;
}

#casiFootArriendos{
	margin-left: auto;
	margin-right: auto;
}
#PaginacionArriendo1{
	margin-left: auto;
}

#PaginacionArriendo2{
	margin-right: auto;
}
#MostrarArriendoFoot{
	min-height: 400px;
	background-image: url('../img/verTodosArriendos/ssss.jpeg');
	background-size: cover;
	background-position: center;
}
#MostrarArriendoFoot:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

/* Ver todas universidades *//* Ver todas universidades */
/* Ver todas universidades *//* Ver todas universidades */
/* Ver todas universidades *//* Ver todas universidades */
/* Ver todas universidades *//* Ver todas universidades */
/* Ver todas universidades *//* Ver todas universidades */

#FootUniversidad{
	min-height: 400px;
	background-image: url('../img/VerTodasUniversidades/FootUniversidad.jpg');
	background-size: cover;
	background-position: center;
}
#FootUniversidad:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
/* VER EVENTOS VER EVENTOS *//* VER EVENTOS VER EVENTOS */
/* VER EVENTOS VER EVENTOS *//* VER EVENTOS VER EVENTOS */
/* VER EVENTOS VER EVENTOS *//* VER EVENTOS VER EVENTOS */
#EventoFooter{
	min-height: 250px;
	background-image: url('../img/VerEventos/EventoFooter.jpg');
	background-size: cover;
	background-position: center;
}
#EventoFooter:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
/* Universidad *//* Universidad *//* Universidad *//* Universidad *//* Universidad *//* Universidad */
/* Universidad *//* Universidad *//* Universidad *//* Universidad *//* Universidad *//* Universidad */
/* Universidad *//* Universidad *//* Universidad *//* Universidad *//* Universidad *//* Universidad */
#verUniversidad{
	min-height: 400px;
	background-image: url('../img/VerTodasUniversidades/Universidad1.jpg');
	background-size: cover;
	background-position: center;
}
#verUniversidad:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

#txtVU{
	color:black;
	background-color: rgba(255, 255, 255,0.3);
	margin-left: 50%;
}
#txtVU2{
	margin-left: 50%;
}

#tbUniversidad{
	text-align: center;
}

#verUniBackfacul{
	min-height: 300px;
	background-image: url('../img/verUniversidad/Facultades.jpg');
	background-size: cover;
	background-position: center;
}
#verUniBackfacul:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

#tbFacul{
	color:black;
	background-color: rgba(255, 255, 255,0.3);
}
#verUniBackTable{
	min-height: 300px;
	background-image: url('../img/verUniversidad/UniversidadSiNo.jpg');
	background-size: cover;
	background-position: center;
}
#verUniBackTable:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#UniCarrera{
	min-height: 300px;
	background-image: url('../img/verUniversidad/UniCarrera.jpg');
	background-size: cover;
	background-position: center;
}
#UniCarrera:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#UniBecaDepo{
	min-height: 300px;
	background-image: url('../img/verUniversidad/BecaDeportes.jpg');
	background-size: cover;
	background-position: center;
}
#UniBecaDepo:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#UniFootInfo{
	min-height: 300px;
	background-image: url('../img/verUniversidad/FooterUni.jpg');
	background-size: cover;
	background-position: center;
}
#UniFootInfo:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
/* Ver arriendo *//* Ver arriendo *//* Ver arriendo *//* Ver arriendo *//* Ver arriendo *//* Ver arriendo */
/* Ver arriendo */
/* Ver arriendo *//* Ver arriendo *//* Ver arriendo *//* Ver arriendo *//* Ver arriendo *//* Ver arriendo */

#verArriendo{
	min-height: 400px;
	background-image: url('../img/verTodosArriendos/Arriendo2.jpg');
	background-size: cover;
	background-position: center;
}
#verArriendo:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#ArriendoCuerpo{
	min-height: 400px;
	background-image: url('../img/VerArriendo/ArriendoCuerpo.jpg');
	background-size: cover;
	background-position: center;
}
#ArriendoCuerpo:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#tbUniversidad2{
	font-size: 13px;
	text-align: center;
}
#MasInfo{
	min-height: 400px;
	background-image: url('../img/VerArriendo/ma.jpg');
	background-size: cover;
	background-position: center;
}
#MasInfo:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

/* VerLugar *//* VerLugar *//* VerLugar *//* VerLugar *//* VerLugar *//* VerLugar *//* VerLugar */
/* VerLugar *//* VerLugar *//* VerLugar */
/* VerLugar *//* VerLugar *//* VerLugar *//* VerLugar *//* VerLugar *//* VerLugar *//* VerLugar */
#VerLugar{
	min-height: 400px;
	background-image: url('../img/VerLugar/CuerpoDesc.jpg');
	background-size: cover;
	background-position: center;
}
#VerLugar:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#VerLugarPortada{
	min-height: 400px;
	background-image: url('../img/VerLugar/portada.png');
	background-size: cover;
	background-position: center;
}
#VerLugarPortada:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#MasInfoLugar{
	min-height: 400px;
	background-image: url('../img/VerLugar/masInfo.jpg');
	background-size: cover;
	background-position: center;
}
#MasInfoLugar:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

/* Ver eve *//* Ver eve *//* Ver evento *//* Ver evento *//* Ver evento *//* Ver evento */
/* Ver evento */
/* Ver evento *//* Ver eve *//* Ver evento *//* Ver evento *//* Ver evento *//* Ver evento */
#VerEvento{
	min-height: 400px;
	background-image: url('../img/VerEvento/Evento1.png');
	background-size: cover;
	background-position: center;
}
#VerEvento:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#EventoHro{
	min-height: 400px;
	background-image: url('../img/VerEvento/EventoFooter.jpg');
	background-size: cover;
	background-position: center;
}
#EventoHro:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
/* Ver Beca *//* Ver Beca *//* Ver Beca *//* Ver Beca *//* Ver Beca *//* Ver Beca *//* Ver Beca */
/* Ver Beca *//* Ver Beca *//* Ver Beca */
/* Ver Beca *//* Ver Beca *//* Ver Beca *//* Ver Beca *//* Ver Beca *//* Ver Beca *//* Ver Beca *//* Ver Beca */
#verBeca{
	min-height: 400px;
	background-image: url('../img/VerBeca/Beca.jpg');
	background-size: cover;
	background-position: center;
}
#verBeca:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
/* VerCarrera *//* VerCarrera *//* VerCarrera *//* VerCarrera */
/* VerCarrera *//* VerCarrera *//* VerCarrera *//* VerCarrera *//* VerCarrera */
/* VerCarrera */
#prtVCarrera{
	min-height: 400px;
	background-image: url('../img/VerCarrera/Portada.jpg');
	background-size: cover;
	background-position: center;
}
#prtVCarrera:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#crpVCarrera{
	min-height: 400px;
	background-image: url('../img/VerCarrera/grid.jpg');
	background-size: cover;
	background-position: center;
}
#crpVCarrera:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

/* Buscar carrera *//* Buscar carrera *//* Buscar carrera *//* Buscar carrera *//* Buscar carrera */
/* Buscar carrera *//* Buscar carrera *//* Buscar carrera */
/* Buscar carrera *//* Buscar carrera *//* Buscar carrera *//* Buscar carrera *//* Buscar carrera */
#bscCarrera{
	min-height: 400px;
	max-height: 401px;
}
#crdBuscCarre:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#crdTituloBuscCarre{
	color:black;
	background-color: rgba(255, 255, 255,0.4);
}
/*^Buscar arriendo*//*^Buscar arriendo*//*^Buscar arriendo*//*^Buscar arriendo*//*^Buscar arriendo*/
/*^Buscar arriendo*//*^Buscar arriendo*//*^Buscar arriendo*/
/*^Buscar arriendo*//*^Buscar arriendo*//*^Buscar arriendo*//*^Buscar arriendo*//*^Buscar arriendo*/
#tbBscArriendo{
	text-align: center;
	font-size: 12px;
}
/* compararUniversidades *//* compararUniversidades *//* compararUniversidades *//* compararUniversidades */
/* compararUniversidades *//* compararUniversidades *//* compararUniversidades */
#btnverMasCompUni{
	font-size: 12px;
	height: 25px;
	width: 80px;
}
/* Comentarios *//* Comentarios *//* Comentarios *//* Comentarios */
/* Comentarios *//* Comentarios */
#estrellas{
	font-size: 35px;
}
/* indexAdmin *//* indexAdmin *//* indexAdmin *//* indexAdmin */
/* indexAdmin */
/* indexAdmin *//* indexAdmin *//* indexAdmin *//* indexAdmin */
#casiFootArriendos2{
	margin-left: auto;
	margin-right: auto;
}
#casiFootArriendos2:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#btnverMasCompUni2{
	font-size: 12px;
	height: 25px;
	width: 60px;
}
#PaginacionArriendo4{
	margin-left: auto;
}

#PaginacionArriendo5{
	margin-right: auto;
}

#PaginacionArriendo4:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

#PaginacionArriendo5:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
#PaginacionArriendo6:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
